﻿@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FileShare.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Upload"/>
    <button type="submit">Upload</button>
</form>

<ul>
    @foreach (var file in Model.Storage.Files())
    {
        <li>
            <a href="?file=@file.Id">@file.FileName</a>
        </li>
    }
</ul>